
.w1600 {
    width: 1600px;
    height: 500px;
    border: 5px solid black;
    margin-bottom: 2px;
}

.w400 {
    width: 400px;
    height: 500px;
    border: 5px solid black;
}

.h500 {
    width: 400px;
    height: 500px;
    background: #aa46f1;
}

.bg {
    width: 400px;
    height: 500px;
}

.h500 {
    width: 1600px;
    margin-top: 50px;
}

.mather {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 20px;
}